body {
    background-color: #ccc;
    font-family: Arial, sans-serif;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
.menu li {
    position: relative;
}
.menu > li {
    display: inline-block;
    padding: 10px 0;
    width: 100px;
    text-align: center;
    background-color: #444;
}
.menu li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px;
}


/*Vertical */
.submenu-vertical {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #555;
    list-style: none;
    padding: 0;
}

.submenu:hover .submenu-vertical {
    display: block;
}

/* Horizontal */
.submenu-horizontal {
    position: relative;
}
.submenu-horizontal-content {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #666;
    list-style: none;
    padding: 0;
    white-space: nowrap;
}
.submenu-horizontal:hover .submenu-horizontal-content {
    display: block;
}
