
body, ul {
    margin: 0;
    padding: 0;
    margin: 20px 0;
}


body {

    text-align: center;
}



ul li {
    display: inline-block;
    margin: 5px; 
}

ul li a {
   
    text-decoration: none;
    background-color: #007BFF; 
    padding: 10px 15px;
    
    
}




