 /* h1 {
    color: red;
   }
   #Titulo2 {
    color: aquamarine;
   }
   .parrafo {
    color: rgb(223, 19, 206);
    font-size: 1em;;
   }
   p{
    font-size: 3em;
   } */
    body {
        background-color: blue;
        color: aqua;
    }
    div {
        background-color: #fff;
        width: 300px;
        height: 500px;
        padding: 20px;
        margin: 50px auto;
    }

    