* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: row; /* Esto permite que el menú y el contenido estén uno al lado del otro */
}

.sidebar {
    width: 250px;
    background: #e0e0e0;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.sidebar ul {
    list-style: none;
    padding-top: 20px;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: #444;
    font-weight: bold;
    display: block;
    padding: 10px;
    border-radius: 5px;
}

.sidebar ul li a:hover {
    background-color: #bdbdbd;
}

.main {
    flex-grow: 1; /* Permite que el contenido principal ocupe el espacio restante */
    padding: 20px;
    background: #f0f0f0;
    color: #333;
    text-align: center;
    position: relative;
}

.slideshow-container {
    width: 80%;
    max-width: 600px;
    position: relative;
    overflow: hidden;
}

.slide {
    display: none;
    width: 100%;
}

.slide img {
    width: 100%;
    border-radius: 10px;
}

.fade {
    animation: fade 1s ease-in-out;
}

@keyframes fade {
    from { opacity: 0.4; }
    to { opacity: 1; }
}

.social-media-footer {
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0;
    background: #bdbdbd;
    border-radius: 10px;
    margin-top: 20px;
}
